.mainGrid{
    width: 900px;
    height: 900px;
}

.leftCol{
    width: 500px;
    height: 800px;
}

.viewDiv{
    width: 500px;
    height: 800px;

}

.btnGrid{
    margin-top: 8px;
    width: 400px;
}
